body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: url('../img/Batman1.jpg');
      background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}